body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

#wrapper {
  width: 85%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  color: #dd0000;
}

h2 {
  font-size: 2em;
  color: #888;
}

h3 {
  font-size: 2em;
  color: #000;
}

h4 {
  font-size: 1.5em;
  color: #CCC;
}

h5 {
  font-size: 1.5em;
  color: #CCC;
}

header {
  margin: 3em 0;
}

nav a {
  background-color: black;
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.3333em;
  width: 16.6666%;
  text-align: center;
  padding: .75em 0;
  float: left;
}

nav a:hover {
  background-color: #dd0000;
}

main {
  width: 66.6666%;
  float: left;
}

aside {
  width: 30%;
  float: right;
  color: #444444;
}

img {
  width: 100%;
}

footer {
  clear: both;
  color: #bbbbbb;
}

a {
  color: #dd0000;
  text-decoration: none;
}

article {
  margin: 3em 0;
  border-bottom: 1px solid #DDD;
  padding-bottom: 3em;
}

p {
  color: #444444;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
}

@media only screen and (max-width: 1000px) {
  #wrapper {
    width: 95%;
  }
  nav a {
    font-size: 20px;
  }
  main {
    width: 54%;
  }
  aside {
    width: 44%;
  }
}

@media only screen and (max-width: 800px) {
  main, aside {
    float: none;
    width: auto;
  }
  aside img {
    display: none;
  }
  header {
    margin: 1.5em 0;
  }
  article {
    margin: 1.5em 0;
    padding-bottom: 1.5em;
  }
  nav a {
    float: none;
    width: auto;
    font-size: 1em;
    background-color: #666666;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 16px;
  }
  /*Em's replace all of this!*/
  /* h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  header {
    margin: 16px 0;
  }
  article {
    margin: 16px 0;
    padding-bottom: 16px;
  }*/
}

@media only screen and (min-width: 1764px) {
  body {
    font-size: 20px;
  }
  #wrapper {
    width: 1500px;
  }
}
