@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-color: #105B63;
  color: #FFFAD5;
  font-family: Raleway;
  border: 10px solid;
  padding: 40px;
}

h1 {
  font-size: 50px;
}

p {
  font-style: italic;
  font-family: Georgia;
}

ul {
  font-style: italic;
  font-family: Georgia;
}

img {
  width: 200px;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  margin: 40px;
}